<!-- ========================== About section start ============================== -->
<section class="about py-120">
    <div class="container max-w-1370-px px-0">
        <div class="row gy-5">
            <div class="col-md-6">
                <div class="about__thumb hover-animation-white scale-up-wrapper position-relative overflow-hidden">
                    <img src="assets/images/thumbs/about-image.png" class="w-100 h-100 object-fit-cover scale-up__img"
                        alt="Agency Video Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about__content">
                    <span class="">
                        <img src="assets/images/icons/bitting-icon.png" alt="Icon">
                    </span>
                    <h2 class="splitTextStyle cursor-big text-uppercase tw-mt-3">
                        <span class="text-main-600">I'M</span> rieo WATCH MY <br> STREAMS
                    </h2>
                    <p class="about__desc text-light tw-mt-6" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="150">I'm a passionate UI/UX designer with a mission create
                        delightful and intuitive mission digital sque tristique odioegestas massa suscipit non mission
                        create experiences.</p>
                    <div class="tw-mt-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <h6 class="text-uppercase tw-text-lg tw-mb-4">game info</h6>
                        <div class="d-flex flex-column tw-gap-2">
                            <div class="d-flex align-items-center gap-3">
                                <span class="fw-bold text-heading text-uppercase tw-text-lg font-heading flex-shrink-0">2020 -</span>
                                <p class="text-light">pubg 1s't place dubai awards</p>
                            </div>
                            <div class="d-flex align-items-center gap-3">
                                <span class="fw-bold text-heading text-uppercase tw-text-lg font-heading flex-shrink-0">2022 -</span>
                                <p class="text-light">Resident Evil 2nd Place London awards</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column tw-gap-10 tw-mt-8">
                        <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                            <span class="fw-bold tw-mb-2 text-heading text-uppercase tw-text-lg font-heading">Game
                                Streaming</span>
                            <div class="progress-container" data-percentage="80">
                                <div class="progress active"></div>
                                <div class="percentage active">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="tw-mt-14" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <a href="#"
                            class="btn btn-main hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-6 group active--translate-y-2"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label tw-ps-4">join discord</span>
                            <span
                                class="tw-w-11 tw-h-10 bg-main-600 text-black tw-text-2xl d-flex justify-content-center align-items-center position-relative group-hover-bg-black group-hover-text-white tw-duration-500">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== About section end ============================== -->