<!-- ========================= Banner section start ========================= -->
<section class="banner">
    <div class="">
        <div class="banner__wrapper d-flex justify-content-between tw-gap-4 flex-md-row flex-column">
            <div class="banner__content">
                <div class="">
                    <h1 class="splitTextStyle cursor-big text-uppercase tw-leading-none">I<span
                            class="text-main-600">'</span>am <span class="text-main-600">rieo</span></h1>
                    <h2 class="splitTextStyle cursor-big text-uppercase tw-text-45-px tw-leading-none">& streamer</h2>
                </div>
            </div>
            <div class="banner__thumb">
                <div class="hover-animation-white scale-up-wrapper position-relative overflow-hidden d-inline-block">
                    <img src="assets/images/thumbs/banner-img.png" class="object-fit-cover scale-up__img"
                        alt="Agency Video Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Banner section end ========================= -->