<!-- ========================= Banner section start ========================= -->
<section class="banner">
    <div class="">
        <div class="d-flex align-items-end justify-content-between tw-gap-10 flex-wrap">
            <div class="banner__content">
                <h1 class="splitTextStyle cursor-big text-uppercase tw-leading-none">I<span
                        class="text-main-600">'</span>am <span class="text-main-600">rieo</span></h1>
                <h2 class="splitTextStyle cursor-big text-uppercase tw-text-45-px tw-leading-none">& streamer</h2>
            </div>
            <div class="banner__thumb d-inline-block">
                <div class="hover-animation-white scale-up-wrapper position-relative overflow-hidden">
                    <img src="assets/images/thumbs/banner-img.png" class="object-fit-cover scale-up__img"
                        alt="Agency Video Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Banner section end ========================= -->