<!-- ==================== Footer Start Here ==================== -->
<footer class="mt-auto">
  <div class="footer tw-py-15 position-relative z-1">
    <img src="assets/images/shapes/footer-shape.png" alt="Footer Shape" class="position-absolute top-0 start-0 h-100 z-n1 tw-ms-4">
    
    <div class="container">
      <div class="overflow-hidden">
        <!-- Logo Start -->
        <div class="logo text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
          <a href="index.html" class="link">
            <img src="assets/images/logo/favicon.png" alt="Logo" class="max-w-200-px">
          </a>
        </div>
        <!-- Logo End  -->
        <div class="d-flex align-items-center tw-gap-2 justify-content-center tw-mt-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
          <a href="mailto:info@ rieo.com"
            class="text-light text-line-1 fw-semibold tw-text-sm text-uppercase hover-text-main-600">info@ rieo.com</a>
          <span class="text-light text-line-1 fw-semibold tw-text-sm text-uppercase">-</span>
          <a href="tel:+1999888666"
            class="text-light text-line-1 fw-semibold tw-text-sm text-uppercase hover-text-main-600"> +1 999 888 666</a>
        </div>
        <ul class="d-flex align-items-center tw-gap-6 justify-content-center tw-mt-8 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
          <li>
            <a href="index.html" class="text-heading text-uppercase fw-semibold font-heading hover-text-main-600 hover-underline">Home</a>
          </li>
          <li>
            <a href="#" class="text-heading text-uppercase fw-semibold font-heading hover-text-main-600 hover-underline">About Me</a>
          </li>
          <li>
            <a href="#" class="text-heading text-uppercase fw-semibold font-heading hover-text-main-600 hover-underline">Projects</a>
          </li>
          <li>
            <a href="#" class="text-heading text-uppercase fw-semibold font-heading hover-text-main-600 hover-underline">My Stack</a>
          </li>
          <li>
            <a href="#" class="text-heading text-uppercase fw-semibold font-heading hover-text-main-600 hover-underline">News</a>
          </li>
          <li>
            <a href="#" class="text-heading text-uppercase fw-semibold font-heading hover-text-main-600 hover-underline">Lets Talk</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- bottom Footer start -->
  <div class="tw-py-8">
    <div class="container">
      <p class="text-light text-line-1 fw-semibold tw-text-sm text-uppercase text-center letter-spacing-1-px">
        &copy; <span class="current-year">2025</span> <a href="index.html"
          class="fw-semibold text-main-600 hover-text-main-600 hover-underline hover-text-white">rieo</a>. All Rights Reserved.
      </p>
    </div>
  </div>
  <!-- bottom Footer end -->

</footer>
<!-- ==================== Footer End Here ==================== -->