<!-- ======================== Team section start ========================== -->
<section class="team py-120">
    <div class="container max-w-1430-px">
        <div class="row gy-4">
            <div class="col-xl-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
                <div class="text-end pe-xxl-5">
                    <span class="">
                        <img src="assets/images/icons/video-circle-icon.png" alt="Circle Video Icon">
                    </span>
                    <h2 class="cursor-big splitTextStyle text-uppercase tw-mt-6">
                        <div class="d-inline-flex align-items-center tw-gap-6">
                            <img src="assets/images/icons/bitting-icon.png" alt="Icon">
                            meet
                        </div>
                        <br> team members
                    </h2>
                    <div class="d-inline-flex align-items-center tw-gap-4 tw-mt-6">
                        <div
                            class="border border-neutral-400 tw-border-dashed tw-w-14 tw-h-14 d-flex justify-content-center align-items-center rounded-circle hover-border-main-600 tw-duration-300">
                            <button
                                class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center text-neutral-400 hover-text-heading tw-duration-300 border border-neutral-400  hover-border-main-600 rounded-circle team-new-prev"
                                aria-label="Previous slide">
                                <i class="ph ph-caret-left"></i>
                            </button>
                        </div>
                        <div
                            class="border border-neutral-400 tw-border-dashed tw-w-14 tw-h-14 d-flex justify-content-center align-items-center rounded-circle hover-border-main-600 tw-duration-300">
                            <button
                                class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center text-neutral-400 hover-text-heading tw-duration-300 border border-neutral-400  hover-border-main-600 rounded-circle team-new-next"
                                aria-label="Next slide">
                                <i class="ph ph-caret-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="swiper team-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            <div class="team-item tw-py-705 tw-px-7 group group-item position-relative z-1">
                                <div class="">
                                    <figure
                                        class="team-item__thumbs mb-0 overflow-hidden rounded-circle hover-animation-white">
                                        <img src="assets/images/thumbs/team-img1.png" alt="Mark Jonson's Image"
                                            class="group-hover-item-scale-12 tw-duration-300">
                                    </figure>
                                    <div class="tw-mt-8">
                                        <h5 class="">
                                            <a href="team-details.html"
                                                class="text-uppercase cursor-big text-white hover-underline">mark
                                                jonson</a>
                                        </h5>
                                        <span
                                            class="team-item__designation text-uppercase tw-text-sm fw-semibold text-body text-light tw-mt-2 tw-duration-300">ui/ux
                                            designer</span>
                                    </div>
                                </div>

                                <img src="assets/images/shapes/team-item-shape.png" alt="Card Shape"
                                    class="position-absolute z-n1 top-50 start-50 translate-middle w-100 h-100">
                                <div
                                    class="social-icons-wrapper position-absolute end-0 top-0 z-1 tw-me-6 z-3 tw-mt-6 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                                    <button type="button"
                                        class="show-social-icon-button text-main-600 tw-duration-300 tw-text-xl d-flex">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <div
                                        class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute top-100 start-50 translate-middle-x tw-pt-2 z-1">
                                        <a href="https://www.facebook.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-facebook-logo"></i>
                                        </a>
                                        <a href="https://www.twitter.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-twitter-logo"></i>
                                        </a>
                                        <a href="https://www.linkedin.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-linkedin-logo"></i>
                                        </a>
                                        <a href="https://www.instagram.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-instagram-logo"></i>
                                        </a>
                                    </div>
                                </div>
                                <span class="line-border"></span>
                            </div>
                        </div>
                        <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                            <div class="team-item tw-py-705 tw-px-7 group group-item position-relative z-1">
                                <div class="">
                                    <figure
                                        class="team-item__thumbs mb-0 overflow-hidden rounded-circle hover-animation-white">
                                        <img src="assets/images/thumbs/team-img2.png" alt="Mark Jonson's Image"
                                            class="group-hover-item-scale-12 tw-duration-300">
                                    </figure>
                                    <div class="tw-mt-8">
                                        <h5 class="">
                                            <a href="team-details.html"
                                                class="text-uppercase cursor-big text-white hover-underline">Robiul Hasan</a>
                                        </h5>
                                        <span
                                            class="team-item__designation text-uppercase tw-text-sm fw-semibold text-body text-light tw-mt-2 tw-duration-300">digital
                                            marketing</span>
                                    </div>
                                </div>

                                <img src="assets/images/shapes/team-item-shape.png" alt="Card Shape"
                                    class="position-absolute z-n1 top-50 start-50 translate-middle w-100 h-100">
                                <div
                                    class="social-icons-wrapper position-absolute end-0 top-0 z-1 tw-me-6 z-3 tw-mt-6 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                                    <button type="button"
                                        class="show-social-icon-button text-main-600 tw-duration-300 tw-text-xl d-flex">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <div
                                        class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute top-100 start-50 translate-middle-x tw-pt-2 z-1">
                                        <a href="https://www.facebook.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-facebook-logo"></i>
                                        </a>
                                        <a href="https://www.twitter.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-twitter-logo"></i>
                                        </a>
                                        <a href="https://www.linkedin.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-linkedin-logo"></i>
                                        </a>
                                        <a href="https://www.instagram.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-instagram-logo"></i>
                                        </a>
                                    </div>
                                </div>
                                <span class="line-border"></span>
                            </div>
                        </div>
                        <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                            <div class="team-item tw-py-705 tw-px-7 group group-item position-relative z-1">
                                <div class="">
                                    <figure
                                        class="team-item__thumbs mb-0 overflow-hidden rounded-circle hover-animation-white">
                                        <img src="assets/images/thumbs/team-img3.png" alt="Mark Jonson's Image"
                                            class="group-hover-item-scale-12 tw-duration-300">
                                    </figure>
                                    <div class="tw-mt-8">
                                        <h5 class="">
                                            <a href="team-details.html"
                                                class="text-uppercase cursor-big text-white hover-underline">alaxrner</a>
                                        </h5>
                                        <span
                                            class="team-item__designation text-uppercase tw-text-sm fw-semibold text-body text-light tw-mt-2 tw-duration-300">web
                                            developer</span>
                                    </div>
                                </div>

                                <img src="assets/images/shapes/team-item-shape.png" alt="Card Shape"
                                    class="position-absolute z-n1 top-50 start-50 translate-middle w-100 h-100">
                                <div
                                    class="social-icons-wrapper position-absolute end-0 top-0 z-1 tw-me-6 z-3 tw-mt-6 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                                    <button type="button"
                                        class="show-social-icon-button text-main-600 tw-duration-300 tw-text-xl d-flex">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <div
                                        class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute top-100 start-50 translate-middle-x tw-pt-2 z-1">
                                        <a href="https://www.facebook.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-facebook-logo"></i>
                                        </a>
                                        <a href="https://www.twitter.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-twitter-logo"></i>
                                        </a>
                                        <a href="https://www.linkedin.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-linkedin-logo"></i>
                                        </a>
                                        <a href="https://www.instagram.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-instagram-logo"></i>
                                        </a>
                                    </div>
                                </div>
                                <span class="line-border"></span>
                            </div>
                        </div>
                        <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            <div class="team-item tw-py-705 tw-px-7 group group-item position-relative z-1">
                                <div class="">
                                    <figure
                                        class="team-item__thumbs mb-0 overflow-hidden rounded-circle hover-animation-white">
                                        <img src="assets/images/thumbs/team-img2.png" alt="Mark Jonson's Image"
                                            class="group-hover-item-scale-12 tw-duration-300">
                                    </figure>
                                    <div class="tw-mt-8">
                                        <h5 class="">
                                            <a href="team-details.html"
                                                class="text-uppercase cursor-big text-white hover-underline">halana
                                                max</a>
                                        </h5>
                                        <span
                                            class="team-item__designation text-uppercase tw-text-sm fw-semibold text-body text-light tw-mt-2 tw-duration-300">digital
                                            marketing</span>
                                    </div>
                                </div>

                                <img src="assets/images/shapes/team-item-shape.png" alt="Card Shape"
                                    class="position-absolute z-n1 top-50 start-50 translate-middle w-100 h-100">
                                <div
                                    class="social-icons-wrapper position-absolute end-0 top-0 z-1 tw-me-6 z-3 tw-mt-6 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                                    <button type="button"
                                        class="show-social-icon-button text-main-600 tw-duration-300 tw-text-xl d-flex">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <div
                                        class="show-socials-icons d-flex flex-column tw-gap-2 position-absolute top-100 start-50 translate-middle-x tw-pt-2 z-1">
                                        <a href="https://www.facebook.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-facebook-logo"></i>
                                        </a>
                                        <a href="https://www.twitter.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-twitter-logo"></i>
                                        </a>
                                        <a href="https://www.linkedin.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-linkedin-logo"></i>
                                        </a>
                                        <a href="https://www.instagram.com"
                                            class="show-socials-icons__item tw-w-10 tw-h-10 text-black bg-white tw-text-xl rounded-circle tw-duration-300 common-shadow-3 hover-bg-main-600 hover-text-white tw-scale-0 tw-duration-200 d-flex justify-content-center align-items-center">
                                            <i class="ph-fill ph-instagram-logo"></i>
                                        </a>
                                    </div>
                                </div>
                                <span class="line-border"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Team section end ========================== -->