<!-- ======================== Video Section start ========================= -->
<section class="video-section">
    <div class="container">
        <div class="tw-p-6 position-relative z-1">
            <img src="assets/images/shapes/square-shape-two.png" alt="Square Shape Two Image"
                class="position-absolute top-50 start-50 translate-middle w-100 h-100">
            <div class="min-h-700-px w-100 overflow-hidden scale-up-wrapper position-relative">
                    <img src="assets/images/thumbs/video-img.png" class="w-100 h-100 min-h-700-px object-fit-cover scale-up__img" alt="Agency Video Image">
                <div
                    class="bg-main-600 bg-opacity-50 tw-px-10 tw-py-15 max-w-550-px w-100 position-absolute bottom-0 start-0">
                    <h2 class="cursor-big splitTextStyle text-uppercase fw-800 text-black">pubg world cup</h2>
                    <span class="tw-w-16 tw-h-105 bg-black rounded-pill"></span>
                    <h6 class="text-black tw-mt-4">2024</h6>
                </div>

                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                    class="play-button text-white tw-text-80-px position-absolute start-50 translate-middle top-50 z-1 hover-bg-main-two-600 hover-text-white d-flex">
                    <i class="ph ph-play-circle"></i>
                </a>

            </div>
        </div>
    </div>
</section>
<!-- ======================== Video Section end ========================= -->