/* ================================= preload Css Start =========================== */
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #00100F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-bg {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: transform 1s ease-in-out;
  z-index: 5;
}

.preloader-bg-one {
  top: 0;
}

.preloader-bg-two {
  bottom: 0;
}

.txt-loading {
  position: relative;
  display: flex;
  z-index: 10;
  transition: opacity 1s ease;
  transform: rotate(-45deg);
  direction: ltr;
}

.letters-loading {
  font-size: clamp(40px, 8vw, 200px);
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transform: translateX(20px);
  animation: letterFadeUp 1.2s forwards;
}

.letters-loading:nth-of-type(1) {
  animation-delay: 0.15s;
}

.letters-loading:nth-of-type(2) {
  animation-delay: 0.3s;
}

.letters-loading:nth-of-type(3) {
  animation-delay: 0.45s;
}

.letters-loading:nth-of-type(4) {
  animation-delay: 0.6s;
}

.letters-loading:nth-of-type(5) {
  animation-delay: 0.75s;
}

.letters-loading:nth-of-type(6) {
  animation-delay: 0.9s;
}

.letters-loading:nth-of-type(7) {
  animation-delay: 1.05s;
}

@keyframes letterFadeUp {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  60% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0.8;
    transform: translateX(0);
  }
}
/* ================================= preload Css End ===========================  */