/* About section css start */
.about {
    &__thumb {
        max-width: 430px;
    }

    &__content {
        max-width: 708px;
    }

    &__desc {
        max-width: 550px;
    }
}
/* About section css end */