/* About section css start */
.about {
    margin-block-end: 20px;
    @media (min-width: 1600px) {
        margin-block-start: 214px;
    }

    &__thumb {
        @media (min-width: 768px) {
            max-width: 426px;
            margin-inline-start: 43px;
            margin-block-start: 8px;
        }
    }

    &__content {
        max-width: 708px;
    }

    &__desc {
        max-width: 550px;
    }
}

/* About section css end */