/* Banner section css start */
@media (min-width: 1200px) {
    .banner {
        margin-bottom: 114px;
    
        &__thumb {
            transform: translate(-148px, 115px);
            max-width: 424px;
        }
    
        &__content {
            transform: translate(24px, 70px);
        }
    }
}
/* Banner section css end */