/* Team section css start */
.line-border {
    position: absolute;
    width: 75px;
    height: 1px;
    background: var(--main-600);
    right: -15px;
    bottom: 40px;
    transform: rotate(-55deg) scale(0);
    transition: .3s ease-in-out;
}

.team-item {
    &__thumbs {
        max-width: 230px;
        max-height: 214px;
    }

    &:hover {
        .line-border {
            transform: rotate(-55deg) scale(1);
        }

        .team-item__designation {
            color: var(--main-600) !important;
        }
    }
}

.swiper-slide-active {
    .social-icons-wrapper {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .line-border {
        transform: rotate(-55deg) scale(1);
    }

    .team-item__designation {
        color: var(--main-600) !important;
    }
}


.tw-scale-0 {
    transform: scale(0);
}

.show-socials-icons {
    visibility: hidden;
    opacity: 0;
}

.social-icons-wrapper:hover {
    .show-socials-icons {
        visibility: visible;
        opacity: 1;
    }

    .show-socials-icons__item {
        transform: scale(1);
    }
}

/* Team section css end */